extends ../base

block app-title
        | users

block content
    div.all-users-container
        .row
            form.form-horizontal.form-container(action="/users/filtered?", method="get")
                fieldset
                        .form-group
                            .col-xs-12.col-sm-3
                                input.form-control(type="text", id="tb-username", name="username", placeholder="Username", value=username)
                            .col-xs-12.col-sm-3
                                input.btn.btn-success.btn-special(type="submit", value="Search")
        .row.users-result
            each user in users
                .col.sm-12.col-md-6
                    .user-container
                        .row.main-row
                            .col-xs-4.matchheight
                                img.avatar-image(src=`/images/users-avatars/${user.avatar}` alt="No image!")
                            .col-xs-8.matchheight.bot-vert-align
                                div
                                    .row
                                        a(href=`/users/${user.username}`)
                                            h1.profile-username #{user.username}
                                    .row
                                        h2.profile-names #{user.firstName} #{user.lastName}