extends ../base

block app-title
        | Profile

block content
    div.user-detailed-container
        .row
            .col-lg-12
                .row.main-row
                    .col-md-2.matchheight-title
                        img.avatar-image(src=`/images/users-avatars/${currentUser.avatar}` alt="No image!")
                    .col-md-10.matchheight-title.bot-vert-align
                        div
                            .row
                                h1.profile-username #{currentUser.username}
                            .row
                                h2.profile-names #{currentUser.firstName} #{currentUser.lastName}
                hr
        .row
            .col-lg-3
                ul.nav.nav-pills.nav-stacked
                    li.active
                        a(href="#profile" data-toggle="pill", aria-expanded="true") Profile
                    li
                        a(href="#rides" data-toggle="pill", aria-expanded="true") Rides
                    li
                        a(href="#update-profile-picture" data-toggle="pill", aria-expanded="false") Update profile picture
                    li
                        a(href="#update-profile" data-toggle="pill", aria-expanded="false") Update profile
                    li
                        a(href="#update-password" data-toggle="pill", aria-expanded="false") Update password
                    li
                        a(href="#update-car" data-toggle="pill", aria-expanded="false") Update car
            .col-lg-9
                #my-tab-content.tab-content
                    #profile.tab-pane.fade.active.in
                        .matchheight
                                    p Profile information
                    #rides.tab-pane.fade
                        .matchheight
                            if rides.length > 0
                            each ride in rides
                                .row.ride-container
                                        .col-lg-12
                                            .row.main-row
                                                .col-lg-3.font-smlg
                                                        span #{ride.fromCity}
                                                .col-lg-1.font-md
                                                        span.glyphicon.glyphicon-chevron-right
                                                .col-lg-3.font-smlg
                                                        span #{ride.toCity}
                                                .col-lg-4.font-smlg
                                                        span #{moment(ride.dateOfTravel).format("lll")}
                                                .col-lg-1
                                                    form(action=`/rides/${ride.id}` method="post")
                                                            input.hidden(type="text" name="rideId" value=`${ride.id}`)
                                                            button.btn.btn-danger.btn-xs(type="submit")
                                                                span.font-xs.glyphicon.glyphicon-remove
                                            hr
                                            .row.secondary-row
                                                .col-lg-4.font-md
                                                        span Available seats:
                                                        span  #{ride.freePlaces}
                                                .col-lg-3.font-md
                                                        span Price:
                                                        span  #{ride.price}
                                                .col-lg-2.font-md
                                                        a(href=`/rides/${ride.id}`) Details

                            else
                                p.font-md This user has no rides
                    #update-profile.tab-pane.fade
                        .matchheight
                            form.form-horizontal(id="update-profile" action="/profile/update-info", method="post")
                                fieldset
                                    .form-group
                                        label.col-sm-3.control-label(for="tb-first-name") First Name
                                        .col-sm-4
                                            input.form-control(type="text", id="tb-first-name", name="firstName", value=`${currentUser.firstName}`)
                                    .form-group
                                        label.col-sm-3.control-label(for="tb-last-name") Last Name
                                        .col-sm-4
                                            input.form-control(type="text", id="tb-last-name", name="lastName", value=`${currentUser.lastName}`)
                                    .form-group
                                        label.col-sm-3.control-label(for="tb-email") Email
                                        .col-sm-4
                                            input.form-control(type="text", id="tb-email", name="email", value=`${currentUser.email}`)
                                    .form-group
                                        .col-sm-4.col-sm-offset-3
                                            input.btn.btn-block.btn-primary(type="submit", value="Update")
                    #update-password.tab-pane.fade
                        .matchheight
                            form.form-horizontal(id="update-profile" action="/profile/update-password", method="post")
                                fieldset
                                    .form-group
                                        label.col-sm-3.control-label(for="tb-password") Password
                                        .col-sm-4
                                            input.form-control(type="password", id="tb-password", name="oldPassword", placeholder=)
                                    .form-group
                                        label.col-sm-3.control-label(for="tb-new-password") New password
                                        .col-sm-4
                                            input.form-control(type="text", id="tb-new-password", name="newPassword")
                                    .form-group
                                        label.col-sm-3.control-label(for="tb-new-password-confirm") Confirm password
                                        .col-sm-4
                                            input.form-control(type="text", id="tb-new-password-confirm", name="newPasswordConfirm")
                                    .form-group
                                        .col-sm-4.col-sm-offset-3
                                            input.btn.btn-block.btn-primary(type="submit", value="Update")
                    #update-profile-picture.tab-pane.fade
                        .matchheight
                            .row
                                form(id="upload", action="/profile/upload-avatar", method="post", enctype="multipart/form-data")
                                    .form-group
                                        p.font-md Please select image
                                        label.btn.btn-primary.btn-md.btn-file(for="tb-avatar")
                                            | Browse
                                        input(type="file", id="tb-avatar" name="avatar" accept="image/*")
                    #update-car.tab-pane.fade
                        .matchheight
                            p Car

    script(type="text/javascript").
        jQuery(function($){
        $("#tb-avatar").change(function() {
                $("#upload").submit();
            });
        });

    script(type="text/javascript").
        jQuery(function($){
        $(".matchheight-title").matchHeight({byRow: false});
        $(".matchheight").matchHeight({byRow: false});
        });