extends ../base

block app-title
        | Ride: #{ride.fromCity} to #{ride.toCity}

block content
        h1 Detail info for ride #{ride.fromCity} to #{ride.toCity} Date: #{moment(ride.dateOfTravel).calendar()}
        p #{ride.driver.username} is going to take you there