extends ../base

block app-title
        | Ride: #{ride.fromCity} to #{ride.toCity}

block content
        h2 Detail info for ride from #{ride.fromCity} to #{ride.toCity}
        h3 Date: #{moment(ride.dateOfTravel).calendar()}
        div.specific-ride-info
                a(href=`/users/${ride.driver.username}`) #{ride.driver.username} 
                span is going to take you there
        form(action="/sign-for-ride" method="get")
                input.hidden(type="text" value=`${ride.id}` name="rideId") 
                input.hidden(type="text" value=`${user.username}` name="passengerUsername")
                input.btn.btn-success(type="submit" value="Sign for it")